body { padding-top: 70px; }
.log-pager { width: 240px; margin: 0 auto; }
.log-table {
    font-size: 11px;
}
.timestamp {
    min-width: 150px;
}
.message {
    max-width: 500px;
}
.exception{
    max-width: 500px;
}

.log-table td {
    overflow: auto;
}

.dropdown-menu .checkbox{
    padding-left: 5px;
}

.log-filter{
    padding-bottom: 10px;
}
.col-icon{
    font-weight: 0;
    font-size: 9px;
    line-height: 1.5;
}
#modal-container .modal{
    display: block;
}
.error-message{
    display: none;
    color: #a94442;
    padding-top: 5px;
}

.has-error .error-message {
    display: inline-block;
}
.log-table-button{
    margin-left:5px;
}
.spin{
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hand-cursor {cursor: pointer;}

.filters i {
    padding-left: 5px;
    font-size: 12px;
    color: gray;
}
.filters i:hover {
    color: black;
}
.filters .form-control {
    width: 60px;
    display: inline-block;
}

.filters .tab {
    margin-left: 15px;
    padding-left: 5px;
    border-left: 1px solid #e5e5e5;
}

.filters .inline {
    display: inline-block;
}

.input-xs{
    font-size: 10px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px;
}

.filters .node {
}
.filters .item{
    padding-bottom: 10px;
}
.filters .dropdown-menu{
    top: inherit; 
    left: inherit; 
}
.filters .dropdown-menu>li>a{
    padding: 1px 15px;
    font-size: 11px;
}
.filters .dropdown-menu .divider {
    margin: 4px 0;
}