body { padding-top: 50px; }
.log-pager { width: 240px; margin: 0 auto; }
.log-table {
    font-size: 11px;
    margin-top: 15px
}
.timestamp {
    min-width: 150px;
}
.message {
    max-width: 500px;
}
.exception{
    max-width: 500px;
}

.log-table td {
    overflow: auto;
}

.dropdown-menu .checkbox{
    padding-left: 5px;
}

.log-filter{
    padding-bottom: 10px;
    padding-top: 10px;
}
.col-icon{
    font-weight: 0;
    font-size: 9px;
    line-height: 1.5;
}
#modal-container .modal{
    display: block;
}
.error-message{
    display: none;
    color: #a94442;
    padding-top: 5px;
}

.has-error .error-message {
    display: inline-block;
}
.log-table-button{
    margin-left:5px;
}
.spin{
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hand-cursor {cursor: pointer;}

.filters i {
    padding-left: 5px;
    font-size: 12px;
    color: gray;
}
.filters i:hover {
    color: black;
}
.filters .form-control {
    width: 140px;
    display: inline-block;
}

.filters .tab {
    margin-left: 15px;
    padding-left: 5px;
    border-left: 1px solid #e5e5e5;
}

.filters .inline {
    display: inline-block;
}

.input-xs{
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px;
}

select.input-xs{
    width: 50px;
}

.filters .item{
    padding-bottom: 10px;
}
.filters .dropdown-menu{
    top: inherit; 
    left: inherit; 
}
.filters .dropdown-menu>li>a{
    padding: 1px 15px;
    font-size: 11px;
}
.filters .dropdown-menu .divider {
    margin: 4px 0;
}
.filters .fields {
    width: 120px;
}
.filters .timespan {
    width: 95px;
}
.filters .date-input {
    width: 110px;
}

#content .table {
    margin-bottom: 0;
}

#service-pie, #application-pie, #histogram, .level-table, .log-table {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#service-pie:hover, #application-pie:hover, #histogram:hover, .level-table:hover, .log-table:hover {
    box-shadow: 0 0 3px 1px rgba(221,221,221, 0.8);
}

.level-table {
    height: 290px;
    padding: 10px;
    font-size: 11px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
}

html, body, .content {
    background: #f8f8f8;
}

.search-query {
    max-width: 350px;
    display: inline-block;
}

body mark {
    color: #000;
    background: #ff0;
}
.update-type {
    margin-bottom: 0;
}